 ![png](books_ERD.png)

In [8]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [3]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "BuDdy173565!!" # (whatever password you chose during mysql installation)
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [13]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [26]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [15]:
database_exists(connection)

True

In [20]:
import pandas as pd
df = pd.read_csv('books.csv')
df1 = pd.read_csv('authors.csv')
df3 = pd.read_csv('favorites.csv')
df2 = pd.read_csv('users.csv')

In [22]:
df.to_sql('books', engine, if_exists = 'replace')
df1.to_sql('authors', engine, if_exists = 'replace')
df2.to_sql('users', engine, if_exists = 'replace')
df3.to_sql('favorites', engine, if_exists = 'replace')

7

In [24]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1